<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanhu.explosion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name="MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExplosionActivity"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".CommActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/CommDialog">
        </activity>
        <activity android:name=".GasCollectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/CommDialog">
        </activity>
    </application>

</manifest>